* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #8A51FC;
}

.gif {
    display: flex;
    justify-content: center;

}

img {
    width: 300px;
    height: 300px;
    
}



main {
    width: 375px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

.logo-moeda, .logo-moeda-2 {
    width: 44px;
    height: 44px;
}

.seta {
    width: 35px;
    height: 45px;
    margin: 15px 0px;
}

label {
    font-weight: 400px;
    font-size: 14px;
    color: #777777;
}

select {
    width: 327px;
    height: 42px;
    margin-bottom: 24px;
    padding-left: 15px;
    appearance: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

input{
    width: 327px;
    height: 42px;
    margin-bottom: 24px;
    font-weight: 400px;
    font-size: 14px;
    color: #777777;
    border-radius: 4px;
    padding-left: 15px;

}

.convert-button {
    width: 327px;
    height: 42px;
    margin-bottom: 24px;
    font-weight: 700px;
    font-size: 18px;
    color: azure;
    background: #772FD3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.5);
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    
    border-radius: 20px;
    border: 1px solid #772FD3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    padding: 10px;
}

.valor1 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.moeda1{
    font-weight: 400;
    font-size: 14px;
    color: #777777;

}

.valor2, .valor2-convert{
    font-weight: 700;
    font-size: 20px;
    color: #555555;
}
